<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.firecloud.function.sys.mapper.RoleMapper">
    <delete id="deleteRolePermissionByid">
      delete from sys_role_permission where rid = #{value}
    </delete>


    <delete id="deleteRoleUserById">
      delete from sys_role_user where rid = #{value}
    </delete>


    <select id="queryRolePermissionsIdByRid" resultType="java.lang.Integer">
        select pid from sys_role_permission where rid = #{value}
    </select>

   <!-- 保存菜单和权限之间的关系-->
    <insert id="saveRolePermission">
        insert into sys_role_permission(rid,pid) values(#{rid}, #{pid})
    </insert>

    <select id="queryUserRoleIdsByUid" resultType="integer">
        select rid from sys_role_user where uid = #{value}
    </select>

</mapper>
