<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/css/public.css" media="all" />
</head>
<body class="childrenBody">

<blockquote class="layui-elem-quote">
    <form method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
            <div class="layui-inline">
                <label class="layui-form-label">设备ID</label>
                <div class="layui-input-inline">
                    <input type="text" name="devid" autocomplete="off" class="layui-input">
                </div>
            </div>

        <div class="layui-inline">
            <label class="layui-form-label">所属建筑</label>
            <div class="layui-input-inline">
                <input type="text" name="underbuild" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">楼层区域</label>
            <div class="layui-input-inline">
                <input type="text" name="floorarea" autocomplete="off" class="layui-input">
            </div>
        </div>

            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="startTime" id="startTime" readonly="readonly"  placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="endTime" id="endTime" readonly="readonly" placeholder="yyyy-MM-dd HH:mm:ss" class="layui-input">
                </div>
            </div>
        <button id="doSearch" class="layui-btn"  lay-submit="" lay-filter="doSearch">
            <i class="layui-icon">&#xe615;</i>
        </button>

        <button type="button" class="layui-btn layui-btn-warm">
            <span class="layui-icon layui-icon-refresh-1"></span>
        </button>
    </form>
</blockquote>
<!--查询条件结束--->

<!--表格开始--->
    <div >
        <table class="layui-hide" id="equipmentInfoTable" lay-filter="equipmentInfoTable">

        </table>

        <div id="EquipmentToolBar" style="display: none;">
            <button type="button" lay-event="batchDelete" class="layui-btn layui-btn-sm layui-btn-danger">
                <span class="layui-icon layui-icon-delete"></span>
                批量删除
            </button>
            <button type="button" lay-event="add" class="layui-btn layui-btn-sm">
                <span class="layui-icon layui-icon-add-1"></span>添加设备</button>
        </div>
        <div id="EquipmentRowBar" style="display: none;">
            <button type="button" lay-event="delete" class="layui-btn layui-btn-sm layui-btn-danger">
                <span class="layui-icon layui-icon-delete"></span>
                删除
            </button>

            <button type="button" lay-event="detail" class="layui-btn layui-btn-sm layui-btn">
                <span class="layui-icon layui-icon-about"></span>
                数据详情
            </button>
        </div>
    </div>
<!--表格结束--->

<!--打开历史数据弹出层开始-->
    <div style="display: none;" id="showDevDetail">
        <table class="layui-hide" id="equipmentTable" lay-filter="equipmentTable">
        </table>
    </div>

<!--打开历史数据弹出层结束-->
<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <label class="layui-form-label">设备ID</label>
            <div class="layui-input-block" style="width: 50%;">
                <input type="text" name="devid" class="layui-input" autocomplete="off" placeholder="请输入设备ID" lay-verify="required">
            </div>
        </div>
        <div class="layui-form-item">

            <label class="layui-form-label">设备名称</label>
            <div class="layui-input-block" style="width: 50%;">
                <div class="layui-input-inline">
                    <select name="dnameid" lay-verify="required">
                        <option value="0">烟感</option>
                        <option value="1">燃气报警器</option>
                        <option value="2">水压表</option>
                        <option value="3">温感</option>
                        <option value="4">消火栓</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">设备型号</label>
            <div class="layui-input-block" style="width: 50%;">
                <input type="text" name="devicemodel" id="devicemodel" lay-verify="required"  autocomplete="off" placeholder="请输入设备型号" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">所属建筑</label>
            <div class="layui-input-block" style="width: 50%;">
                <input type="text" id="underbuild" name="underbuild" lay-verify="required" autocomplete="off" placeholder="所属建筑" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">楼层区域</label>
            <div class="layui-input-block" style="width: 50%;">
                <input type="text" id="floorarea" name="floorarea" lay-verify="required" autocomplete="off" placeholder="请输入楼层区域" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">安装位置</label>
            <div class="layui-input-block" style="width: 50%;">
                <input type="text" id="installlocation" name="installlocation" lay-verify="required" autocomplete="off" placeholder="请输入安装位置" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">联网状态</label>
            <div class="layui-input-inline">
                <input type="radio" name="networkstate" value="1" title="在线" checked="">
                <input type="radio" name="networkstate" value="0" title="离线">
            </div>

        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center; margin: 30px auto;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSubmit" id="doSubmit" ><span class="layui-icon layui-icon-add-1"></span>提交</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh-1"></span>重置</button>
            </div>
        </div>
    </form>
</div>
<!-- 添加和修改的弹出层结束 -->




<script type="text/javascript" src="/resources/layui/layui.js"></script>

<script type="text/javascript">
    layui.use(['laydate','jquery','table','layer','form'], function() {
        var laydate = layui.laydate;
        var form = layui.form;
        var layer = layui.layer;
        var table = layui.table;
        var $ = layui.jquery;

        //自定义格式
        laydate.render({
            elem: '#startTime'
            ,type: 'datetime'
        });

        //自定义格式
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime'
        });

        var tableIns = table.render({
            elem: '#equipmentInfoTable'
            ,url:'/equipmentfo/loadAllEquipment'
            ,toolbar: '#EquipmentToolBar' //开启头部工具栏，并为其绑定左侧模板
            ,page: true
            ,height: 'full-170'
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '设备数据表'
            ,cols: [ [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'devid', title:'设备ID', fixed: 'left',sort: true,width:'160'}
                ,{field:'devicename', title:'设备名称', align:'center',width:'207'}
               /* ,{field:'status', title:'状态', align:'center'}*/
                ,{field:'devicemodel', title:'设备型号', align:'center',width:'170'}
                ,{field:'underbuild', title:'所属建筑', align:'center',width:'140'}
                ,{field:'floorarea', title:'楼层区域', align:'center',width:'140'}
                ,{field:'installlocation', title:'安装位置', align:'center',width:'190'}
                ,{field:'networkstate', title:'联网状态', align:'center',width:'120',templet:function(d){
                        return d.networkstate==1?'<span color=green>在线</span>':'<span color=#808080>离线</span>';
                    }}
                ,{field:'devicestatus', title:'设备状态', align:'center',width:'120'}
                ,{field:'statusName', title:'设备状态名称', align:'center',width:'120'}
                ,{field:'nettime', title:'入网时间', align:'center',width:'200'}
                ,{fixed: 'right', title:'操作', toolbar: '#EquipmentRowBar', align:'center',width:'240'}
            ] ]
        });


        //模糊查询
        //监听提交 lay-filter="search"
        form.on('submit(doSearch)', function(data){
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;//false：阻止表单跳转  true：表单跳转
        });


        //监听修改，添加的提交的按钮
        form.on("submit(doSubmit)",function(data){
            $.post(url,data.field,function(res){
                if(res.code==200){
                    tableIns.reload();
                }
                layer.msg(res.msg);
                layer.close(mainIndex);
            })
            return false;
        });



        //监听工具条事件 批量删除
        table.on('toolbar(equipmentInfoTable)', function (obj) {
            switch (obj.event) {
                case 'batchDelete':
                    batchDelete();
                break;
                case 'add':
                    openAddLayer();
                break;
            }
        });

        table.on('tool(equipmentInfoTable)', function (obj) {
            var data = obj.data;
            switch (obj.event) {
                case 'delete':
                    deleteByid(data);
                    break;
                case 'detail':
                    showHist(data);
                    break;
                case '':
                    openUpdateUserLayer();
                break
            }
        });

        var mainIndex;
        var url;
        //打开添加的弹出层
        function openAddLayer(){
            mainIndex=layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','600px'],
                title:'添加设备',
                success:function(){
                    $("#dataFrm")[0].reset();
                    url="/equipmentfo/addEquipment";
                }
            });
        }


        //打开修改的弹出层
        function openUpdateUserLayer(data){
            mainIndex=layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area:['800px','600px'],
                title:'修改角色',
                success:function(){
                    $("#dataFrm")[0].reset();
                    //装载新的数据
                    form.val("dataFrm",data);
                    url="/role/updateRole";
                }
            });
        }

        function deleteByid(data) {
            layer.confirm('你确定要删除吗？', {icon: 3, title: '提示'}, function (index) {
               $.post("/equipmentfo/deleteEquipment",{id: data.id},function (res) {
                   if (res.code == 200) {
                        tableIns.reload();
                   }
                   layer.msg(res.msg);
               });
                layer.close(index);
            });
        }

        function batchDelete() {
            //得到选中行
            var  checkStatus = table.checkStatus('equipmentInfoTable');
            var dataLength = checkStatus.data.length;
            //如果选中行大于0
            if(dataLength > 0) {
                //弹出选择框
                layer.confirm('你确定要删除选中行数据吗？', {icon: 3, title: '提示'}, function (index) {
                    var  data = checkStatus.data; //选中行的数据
                    var ids = '';
                    $.each(data, function (index, item) {
                        alert('index: '+index);
                        alert('item: '+item);
                        alert('data: '+data);
                        if (index == 0){
                            ids += "ids=" + item.id;
                        }else {
                            ids += "&ids=" + item.id;
                        }
                    });

                    $.post("/equipmentfo/batchDeleteEquipment", ids, function (res) {
                        if (res.code == 200) {
                            tableIns.reload();
                        }
                        layer.msg(res.msg);
                    })
                });
                layer.close(index);

            }else {
                layer.msg('请选中行');
            }
        }

        //打开设备信息详情的数据表
        function showHist(data) {
           mainIndex = layer.open({
                type:1,
                content:$("#showDevDetail"),
                area:['1200px','600px'], //页面大小
                title: '设备数据表',
                success:function(){
                    initequuipment(data);
                }
            })
        }


        //初始化发送的设备数据表
        function initequuipment(data) {
            var tableIns = table.render({
                elem: '#equipmentTable'
                ,url:'/equipmentfo/initDevByEqId'
                ,where:{
                    id : data.id
                }
                ,page: true
                ,cols: [
                    [
                        {field:'devId', title:'设备ID', fixed: 'left', unresize: true,align:'center'}
                        ,{field:'devStatus', title:'设备状态',align:'center'}
                        ,{field:'devDesPer', title:'设备浓度',align:'center'}
                        ,{field:'netId', title:'网络频点',align:'center'}
                        ,{field:'signalDes', title:'信号强度',align:'center'}
                        ,{field:'dataDate', title:'日期',align:'center'}
                        ,{field:'dataTime', title:'时间',align:'center'}
                    ]
                ]
            });
        }
    });
</script>
</body>
</html>