<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>联网单位</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/resources/css/font.css">
    <link rel="stylesheet" href="/resources/css/info/center.css">
    <link rel="stylesheet" href="/resources/lib/layui/css/layui.css">
</head>
<body>
<div class="div1-top">
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>4</p>
            <span>接入单位总数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>340</p>
            <span>设备总数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>415</p>
            <span>部件总数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>0</p>
            <span>消防设施总数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>1</p>
            <span>在线设备总数</span>
        </div>
    </div>
</div>
<div class="div2-center">
    <div class="dataTable-style">
        <div  class="tab-search">
            <div class="tab-search-are">
                <input type="text" name="title"
                       placeholder="请填写所在地区" class="layui-input">
            </div>
            <div class="tab-search-company">
                <input id="search-company" type="text" name="title"
                       placeholder="输入单位名称" class="layui-input">
            </div>
        </div>
        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col width="80">
                <col width="200">
                <col width="60">
                <col width="150">
                <col width="60">
                <col width="100">
                <col width="150">
                <col width="50">
            </colgroup>
            <thead>
            <tr>
                <th>序号</th>
                <th>单位名称</th>
                <th>监管类型</th>
                <th>消防系统</th>
                <th>安全评分</th>
                <th>接入时间</th>
                <th>单位地址</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>辉煌国际</td>
                <td>高危单位</td>
                <td>
                    <span class="layui-badge">火</span>
                    <span class="layui-badge layui-bg-orange">电</span>
                    <span class="layui-badge layui-bg-green">水</span>
                </td>
                <td>70</td>
                <td>2018-09-06</td>
                <td>北京市市辖区上地街道</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>三盛股份有限公司</td>
                <td>高危单位</td>
                <td>
                    <span class="layui-badge layui-bg-green">水</span>
                    <span class="layui-badge">火</span>
                    <span class="layui-badge layui-bg-orange">电</span>
                </td>
                <td>70</td>
                <td>2018-09-06</td>
                <td>北京市市辖区上地街道</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>网易多媒体互联公司</td>
                <td>
                    高危单位
                </td>
                <td>
                    <span class="layui-badge layui-bg-green">水</span>
                    <span class="layui-badge">火</span>
                    <span class="layui-badge layui-bg-orange">电</span>
                    <span class="layui-badge layui-bg-gray">视频</span>
                </td>
                <td>70</td>
                <td>2018-09-06</td>
                <td>北京市市辖区上地街道</td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>百度搜索技术有限公司</td>
                <td>
                    高危单位
                </td>
                <td>
                    <span class="layui-badge layui-bg-green">水</span>
                    <span class="layui-badge">火</span>
                    <span class="layui-badge layui-bg-orange">电</span>
                </td>
                <td>70</td>
                <td>2018-09-06</td>
                <td>北京市市辖区上地街道</td>
                <td></td>
            </tr>
            <tr>
                <td>5</td>
                <td>百度搜索技术有限公司</td>
                <td>高危单位</td>
                <td>
                    <span class="layui-badge">火</span>
                    <span class="layui-badge layui-bg-orange">电</span>
                    <span class="layui-badge layui-bg-green">水</span>
                    <span class="layui-badge layui-bg-cyan">其它</span>
                    <span class="layui-badge layui-bg-blue">灭火</span>
                    <span class="layui-badge layui-bg-gray">视频</span>
                </td>
                <td>70</td>
                <td>2018-09-06</td>
                <td>北京市市辖区上地街道</td>
            </tr>
            </tbody>
        </table>
        <div class="page-count">
            <div id="firemen"></div>
        </div>

    </div>


   <!-- <table class="layui-tab" id="demo" lay-filter="test"></table>-->

</div>


<script src="/resources/lib/layui/layui.js" charset="UTF-8"></script>
<script src="/resources/js/dwfile/center.js"></script>
<script>

</script>
</body>
</html>