<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>火警</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="/resources/css/font.css">
    <link rel="stylesheet" href="/resources/css/deal/report.css">
    <link rel="stylesheet" href="/resources/layui/css/layui.css">
    <link>

    <STYLE>
        html {
            /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
            -ms-overflow-style:none;
            /*火狐下隐藏滚动条*/
            overflow:-moz-scrollbars-none;
        }
        /*Chrome下隐藏滚动条，溢出可以透明滚动*/
        html::-webkit-scrollbar{width:0px}

        html::-webkit-scrollbar{
            display: none;
        }
    </STYLE>
</head>
<body>
<div class="div1-top">
    <div class="div1-pc">
        <div class="left-img">
        </div>
        <div class="div1-pc-right">
            <p>8</p>
            <span>本月上报数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>5</p>
            <span>本周上报数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>3</p>
            <span>今日上报数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>3</p>
            <span>今日已处理</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>0</p>
            <span>今日未处理</span>
        </div>
    </div>
</div>


<!--表格数据开始-->
<table class="layui-hide" id="testFire" lay-filter="testFire"></table>
<!--表格数据结束-->


<!--打开历史数据弹出层结束-->
<!-- 添加和修改的弹出层开始 -->
<div style="display: none;padding: 5px" id="addOrUpdateDiv">
    <form action="" method="post" class="layui-form layui-form-pane" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备ID</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" name="devId" class="layui-input" autocomplete="off" placeholder="请输入设备ID" lay-verify="required">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设备型号</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" name="unitType" id="unitType" lay-verify="required"  autocomplete="off" placeholder="请输入设备型号" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">设备名称</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" name="devName" id="devName" lay-verify="required"  autocomplete="off" placeholder="请输入设备型号" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">设备状态</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" name="devStatus" id="devStatus" lay-verify="required"  autocomplete="off" placeholder="请输入设备型号" class="layui-input">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">所属建筑</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="underbuilding" name="underbuilding" lay-verify="required" autocomplete="off" placeholder="所属建筑" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">楼层区域</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="floorarea" name="floorarea" lay-verify="required" autocomplete="off" placeholder="请输入楼层区域" class="layui-input">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">安装位置</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="location" name="location" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">报警时间</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="alarmtime" name="alarmtime" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">报警内容</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="alarmcontent" name="alarmcontent" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否处理</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="isdeal" name="isdeal" lay-verify="required" autocomplete="off" placeholder="" class="layui-input">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">处理人</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="dealpeople" name="dealpeople" th:value="*{session.user.name}" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">处理时间</label>
                <div class="layui-input-block" style="width: 50%;">
                    <input type="text" id="dealtime" name="dealtime" class="layui-input">
                </div>
            </div>
        </div>


    </form>
</div>
<!-- 添加和修改的弹出层结束 -->


<!--头部工具栏开始-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-bg-green" lay-event="batchDeleteAlerm">批量删除</button>
    </div>
</script>
<!--头部工具栏结束-->

<!--数据行工具栏开始-->
<script type="text/html" id="barDemo">
   <!-- <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->

    <a class="layui-btn layui-btn-sm" lay-event="detail">详情</a>
</script>
<!--数据行工具栏结束-->

<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="lock" value="{{d.id}}" title="锁定" lay-filter="lockDemo" {{d.id==10006?'checked':''}}>
</script>



<script src="/resources/layui/layui.js" charset="UTF-8"></script>
<script src="/resources/js/report/report.js"></script>
<script type="text/javascript">
    layui.use(['table','form','jquery','layer','laydate'], function(){
        var table = layui.table, form = layui.form, $ = layui.jquery,
            layer=layui.layer,laydate = layui.laydate;

        laydate.render({
            elem: '#dealtime'
            ,type: 'datetime'
        });

        var tableIns = table.render({
            elem: '#testFire'
            ,url:'/alertPro/getBreakDownAllInfo'
            //,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,title: '用户数据表'
            ,cols: [
                [
                    {checkbox: 'true'}
                    ,{field:'id', title: '序号', sort: true}
                    ,{field:'devId', title: '设备ID',width: 170} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                    ,{field:'devName', title: '设备名称',align: 'center'}
                    ,{field:'statusName', title: '设备状态', align: 'center'}
                    ,{field:'unitType', title: '设备型号', align: 'center'}
                    ,{field:'location', title: '安装位置', align: 'center'} //单元格内容水平居中
                    ,{field:'underbuilding', title: '所属建筑',align: 'center'} //单元格内容水平居中
                    ,{field:'floorarea', title:'楼层区域',align: 'center'}
                    ,{field:'alarmtime', title: '报警时间',  align: 'center',width:170}
                    //,{field:'alarmcontent', title: '报警内容',  align: 'center'}
                    ,{field:'isdeal', title: '是否已处理',  align: 'center',templet:function(d){
                        return d.sex==1?'<span class="layui-btn-normal layui-btn-xs">已处理</span>':'<span class="layui-btn-danger layui-btn-xs">未处理</span>';
                    }}
                    //,{field:'dealpeople', title: '处理人',  align: 'center'}
                    //,{field:'dealtime', title: '处理时间',  align: 'center'}
                    //,{field:'alreamType', title: '报警类型',  align: 'center'}
                    ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:100, align:'center'}
                ]
            ]
            ,page: true
        });
        //监听锁定操作
        form.on('checkbox(lockDemo)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        //头工具栏事件
        table.on('toolbar(testFire)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'batchDeleteAlerm':
                    batchDeleteAlerm();
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(testFire)', function(obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                openUpdateDeptLayer(data);
            }
        });



        var mainIndex;
        //打开修改的弹出层
        function openUpdateDeptLayer(data) {
            mainIndex = layer.open({
                type:1,
                content:$("#addOrUpdateDiv"),
                area: ['100%','100%'],
                title: '设备详情',
                btn: '关闭',
                btnAlign: 'c', //按钮居中
                success: function () {
                    //重置内容
                    $('#dataFrm')[0].reset();
                    //装载新的数据
                    form.val("dataFrm",data);
                    //url = "/alertPro/updateAlert";
                }
            });
        }

        //批量删除
        function batchDeleteAlerm() {
            //得到选中行
            var  checkStatus = table.checkStatus('testFire');
            var dataLength = checkStatus.data.length;
            //如果选中行大于0
            if(dataLength > 0) {
                //弹出选择框
                layer.confirm('你确定要删除选中行数据吗？', {icon: 3, title: '提示'}, function (index) {
                    var  data = checkStatus.data; //选中行的数据
                    var ids = '';
                    $.each(data, function (index, item) {
                        if (index == 0){
                            ids += "ids=" + item.id;
                        }else {
                            ids += "&ids=" + item.id;
                        }
                    });

                    $.post("/alertPro/batchDeleteAlerm", ids, function (res) {
                        if (res.code == 200) {
                            tableIns.reload();
                        }
                        layer.msg(res.msg);
                    })
                });
                layer.close(mainIndex);

            }else {
                layer.msg('请选中行');
            }
        }
    });
</script>

</body>
</html>