<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>火警</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8"/>
    <link rel="stylesheet" href="/resources/css/font.css">
    <link rel="stylesheet" href="/resources/css/deal/report.css">
    <link rel="stylesheet" href="/resources/layui/css/layui.css">
    <link>

    <STYLE>
        html {
            /*隐藏滚动条，当IE下溢出，仍然可以滚动*/
            -ms-overflow-style:none;
            /*火狐下隐藏滚动条*/
            overflow:-moz-scrollbars-none;
        }
        /*Chrome下隐藏滚动条，溢出可以透明滚动*/
        html::-webkit-scrollbar{width:0px}

        html::-webkit-scrollbar{
            display: none;
        }
    </STYLE>
</head>
<body>
<div class="div1-top">
    <div class="div1-pc">
        <div class="left-img">
        </div>
        <div class="div1-pc-right">
            <p>27</p>
            <span>本周火警报警次数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>1</p>
            <span>本月火警报警次数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>0</p>
            <span>今日火警上报次数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>0</p>
            <span>今日已处理火警数</span>
        </div>
    </div>
    <div class="div1-pc">
        <div class="left-img">

        </div>
        <div class="div1-pc-right">
            <p>3</p>
            <span>今日未处理火警数</span>
        </div>
    </div>
</div>


<!--表格数据开始-->
<table class="layui-hide" id="testFire" lay-filter="testFire"></table>
<!--表格数据结束-->

<!--头部工具栏开始-->
<script type="text/html" id="toolbarDemo">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm layui-bg-green" lay-event="getCheckData">批量处理</button>
        <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">处理</button>
        <!--<button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>-->
    </div>
</script>
<!--头部工具栏结束-->

<!--数据行工具栏开始-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<!--数据行工具栏结束-->

<script type="text/html" id="checkboxTpl">
    <!-- 这里的 checked 的状态只是演示 -->
    <input type="checkbox" name="lock" value="{{d.id}}" title="锁定" lay-filter="lockDemo" {{d.id==10006?'checked':''}}>
</script>



    <script src="/resources/layui/layui.js" charset="UTF-8"></script>
    <script src="/resources/js/report/report.js"></script>
<script type="text/javascript">
    layui.use(['table','form'], function(){
        var table = layui.table, form = layui.form;

        table.render({
            elem: '#testFire'
            ,url:'/alertPro/getFireAllInfo'
            //,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            ,title: '用户数据表'
            ,cols: [
                [
                {checkbox: 'true'}
                ,{field:'id', title: '序号', sort: true}
                ,{field:'devId', title: '设备ID',width: 185} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{field:'devName', title: '设备名称',align: 'center'}
                ,{field:'statusName', title: '设备状态', align: 'center'}
                ,{field:'unitType', title: '设备型号', align: 'center'}
                ,{field:'location', title: '安装位置', align: 'center'} //单元格内容水平居中
                ,{field:'underbuilding', title: '所属建筑',align: 'center'} //单元格内容水平居中
                ,{field:'floorarea', title:'楼层区域',align: 'center'}
                ,{field:'alarmtime', title: '报警时间',  align: 'center',width:170}
                //,{field:'alarmcontent', title: '报警内容',  align: 'center'}
                ,{field:'isdeal', title: '是否已处理',  align: 'center',templet:function(d){
                        return d.sex==1?'<span class="layui-btn-normal layui-btn-xs">已处理</span>':'<span class="layui-btn-danger layui-btn-xs">未处理</span>';
                    }}
                //,{field:'dealpeople', title: '处理人',  align: 'center'}
                //,{field:'dealtime', title: '处理时间',  align: 'center'}
                //,{field:'alreamType', title: '报警类型',  align: 'center'}
                //,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
                ]
            ]
            ,page: true
        });
        //监听锁定操作
        form.on('checkbox(lockDemo)', function(obj){
            layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
        });

        //头工具栏事件
        table.on('toolbar(testFire)', function(obj){
            alert(111);
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;

            };
        });

        //监听行工具事件
        table.on('tool(testFire)', function(obj){
            var data = obj.data;
            console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>

</body>
</html>