<!DOCTYPE html>
<html class="x-admin-sm">
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

        <link rel="stylesheet" href="/resources/layui/css/layui.css">

        <!--[if lt IE 9]>
          <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
          <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
            .main-container {
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
            }
            .bottom-table {
                width: 100%;
                height: 15%;
                margin-top: 55px;
            }
            .mian-table {
                width: 100%;
                height: 53%;
            }
            .mian-table, .bottom-table {
                -webkit-display: flex;
                display: flex;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-align-items: center;
                align-items: center;
            }

            .main-left, .bottom-left {
                width: 31%;
                height: 100%;
                margin: 0 10px 0 5px;
                vertical-align: middle;
            }
            .main-center, .bottom-center {
                width: 32%;
                height: 100%;
                margin: 0 10px;
            }
            .main-right, .bottom-right {
                width: 32%;
                height: 100%;
                margin: 0 5px 0 10px;
            }
            .cent-title {
                position: absolute;
                height: 20px;
                width: 100%;
                margin: 0;
            }
        </style>
    </head>
    <body>
    <div class="main-container">
        <blockquote class="layui-elem-quote" style="margin: 0;">
            <strong>建筑数据表格</strong>
        </blockquote>
        <div class="mian-table">

            <div class="main-left">
                <div class="layui-form">
                    <table lay-even class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="35%">
                            <col width="56%">
                        </colgroup>
                        <thead>
                        <tbody>
                        <tr>
                            <td>建筑物名称</td>
                            <td>辉煌国际</td>
                        </tr>
                        <tr>
                            <td>建筑所在地区</td>
                            <td>北京市市辖区所在地</td>
                        </tr>
                        <tr>
                            <td>地址</td>
                            <td>上海十字街1号院1号楼</td>
                        </tr>
                        <tr>
                            <td>地上层面积(m2)</td>
                            <td>10500.0</td>
                        </tr>
                        <tr>
                            <td>地下层数</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>地下层面积(m2)</td>
                            <td>2500</td>
                        </tr>
                        <tr>
                            <td>隧道高度(m)</td>
                            <td>3.0</td>
                        </tr>
                        <tr>
                            <td>隧道长度</td>
                            <td>20.0</td>
                        </tr>
                        <tr>
                            <td>日常工作时间人数</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>最大容积人数</td>
                            <td>10000</td>
                        </tr>
                        <tr>
                            <td>储存物名称</td>
                            <td>储存物</td>
                        </tr>
                        <tr>
                            <td>储存物数量</td>
                            <td>10</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="main-center">
                <div class="layui-form">
                    <table lay-even class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="35%">
                            <col width="56%">
                        </colgroup>
                        <thead>
                        <tbody>
                        <tr>
                            <td>标准层面积(m2)</td>
                            <td>1000.0</td>
                        </tr>
                        <tr>
                            <td>地上层数</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>建筑物管理单位</td>
                            <td>暂无</td>
                        </tr>
                        <tr>
                            <td>存储容积</td>
                            <td>200.0</td>
                        </tr>
                        <tr>
                            <td>主要原料</td>
                            <td>甲烷</td>
                        </tr>
                        <tr>
                            <td>主要产品煤气</td>
                            <td>煤气</td>
                        </tr>
                        <tr>
                            <td>毗邻建筑情况</td>
                            <td>无安全问题</td>
                        </tr>
                        <tr>
                            <td>建筑五所属单位名称</td>
                            <td>滴滴</td>
                        </tr>
                        <tr>
                            <td>建筑物里面图</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>建筑外观图</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>消防设施平面图</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>建筑平面图</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="main-right">
                <div class="layui-form">
                    <table lay-even class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="35%">
                            <col width="56%">
                        </colgroup>
                        <thead>
                        <tbody>
                        <tr>
                            <td>存储物性质</td>
                            <td>易燃易爆</td>
                        </tr>
                        <tr>
                            <td>存储物形态</td>
                            <td>不规则</td>
                        </tr>
                        <tr>
                            <td>建、构筑物类别</td>
                            <td>二类高层建筑</td>
                        </tr>
                        <tr>
                            <td>建造日期</td>
                            <td>2012-01-05</td>
                        </tr>
                        <tr>
                            <td>使用性质</td>
                            <td>办公、服务</td>
                        </tr>
                        <tr>
                            <td>火灾危险性</td>
                            <td>甲级</td>
                        </tr>
                        <tr>
                            <td>耐火等级</td>
                            <td>一级</td>
                        </tr>
                        <tr>
                            <td>结构类型</td>
                            <td>轻钢结构</td>
                        </tr>
                        <tr>
                            <td>建筑物高度</td>
                            <td>30.0</td>
                        </tr>
                        <tr>
                            <td>建筑物面积</td>
                            <td>13000.0</td>
                        </tr>
                        <tr>
                            <td>占地面积</td>
                            <td>17000.0</td>
                        </tr>
                        <tr>
                            <td>空</td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="cent-title">
            <blockquote class="layui-elem-quote">
                <strong>建筑消防信息</strong>
            </blockquote>
        </div>
        <div class="bottom-table">
            <div class="bottom-left">
                <div class="layui-form">
                    <table lay-even class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="35%">
                            <col width="56%">
                        </colgroup>
                        <thead>
                        <tbody>
                        <tr>
                            <td>消防控制室位置</td>
                            <td>3层</td>
                        </tr>
                        <tr>
                            <td>避难层数量(个)</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>避难层总面积</td>
                            <td>300.0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom-center">
                <div class="layui-form">
                    <table lay-even class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="35%">
                            <col width="56%">
                        </colgroup>
                        <thead>
                        <tbody>
                        <tr>
                            <td>避难层位置</td>
                            <td>3楼</td>
                        </tr>
                        <tr>
                            <td>安全出口数量(个)</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>安全出口位置</td>
                            <td>楼梯间</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="bottom-right">
                <div class="layui-form">
                    <table lay-even class="layui-table" lay-size="sm">
                        <colgroup>
                            <col width="35%">
                            <col width="56%">
                        </colgroup>
                        <thead>
                        <tbody>
                        <tr>
                            <td>安全出口形势</td>
                            <td>常开</td>
                        </tr>
                        <tr>
                            <td>消防电梯数量(个)</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>消防电梯容纳(kg)</td>
                            <td>楼3000.0</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="/resources/layui/layui.js" charset="utf-8"></script>
    </body>
</html>